<dl class="coveralls items">
  <dt>master</dt>
  <dd><a href='https://coveralls.io/r/kentnl/{{item}}?branch=master'><img ng-src='https://coveralls.io/repos/kentnl/{{item}}/badge.png?branch=master' alt='Coverage Status' /></a></dd>
  <dt>build/master</dt>
  <dd><a href='https://coveralls.io/r/kentnl/{{item}}?branch=build/master'><img ng-src='https://coveralls.io/repos/kentnl/{{item}}/badge.png?branch=build/master' alt='Coverage Status' /></a></dd>
  <dt>releases</dt>
  <dd><a href='https://coveralls.io/r/kentnl/{{item}}?branch=releases'><img ng-src='https://coveralls.io/repos/kentnl/{{item}}/badge.png?branch=releases' alt='Coverage Status' /></a></dd>
</dl>
