<dl class="github items">
  <dt>master</dt>
  <dd><a href="https://github.com/kentnl/{{item}}/tree/master"><img src="https://travis-ci.org/images/icons/github.svg" style="height: 16px; width: 16px;" alt='Github link' /></a></dd>
  <dt>builds</dt>
  <dd><a href="https://github.com/kentnl/{{item}}/tree/builds"><img src="https://travis-ci.org/images/icons/github.svg" style="height: 16px; width: 16px;" alt='Github link' /></a></dd>
  <dt>releases</dt>
  <dd><a href="https://github.com/kentnl/{{item}}/tree/releases"><img src="https://travis-ci.org/images/icons/github.svg" style="height: 16px; width: 16px;" alt='Github link' /></a></dd>
</dl>
