<ng-include src="'partials/cpan_items.html'"></ng-include>
<a class="githubbutton" href="https://github.com/kentnl/{{item}}/tree/master"><img src="https://travis-ci.org/images/icons/github.svg" style="height: 16px; width: 16px;" alt='Github link' /></a>
<a class="coverallsbutton" href='https://coveralls.io/r/kentnl/{{item}}?branch=builds'><img ng-src='https://coveralls.io/repos/kentnl/{{item}}/badge.png?branch=builds' alt='Coverage Status' /></a>
<a class="travisbutton" href="https://travis-ci.org/kentnl/{{item}}"><img ng-src="https://api.travis-ci.org/kentnl/{{item}}.svg?branch=builds" alt='Travis Status' /></a>
<a href="#/details/{{item}}">{{item}}</a>
