<a href="#/details/{{item}}">{{item}}</a>
<ng-include src="'partials/cpan_items.html'"></ng-include>
<a href="https://github.com/kentnl/{{item}}/tree/master"><img src="https://travis-ci.org/images/icons/github.svg" style="height: 16px; width: 16px;" alt='Github link' /></a>
<a href='https://coveralls.io/r/kentnl/{{item}}?branch=build/master'><img ng-src='https://coveralls.io/repos/kentnl/{{item}}/badge.png?branch=build/master' alt='Coverage Status' /></a>
<a href="https://travis-ci.org/kentnl/{{item}}"><img ng-src="https://api.travis-ci.org/kentnl/{{item}}.svg?branch=build/master" alt='Travis Status' /></a>
