<dl class="travis items">
  <dt>master</dt>
  <dd><a href="https://travis-ci.org/kentnl/{{item}}"><img ng-src="https://api.travis-ci.org/kentnl/{{item}}.svg?branch=master" alt='Travis Status' /></a></dd>
  <dt>build/master</dt>
  <dd><a href="https://travis-ci.org/kentnl/{{item}}"><img ng-src="https://api.travis-ci.org/kentnl/{{item}}.svg?branch=builds" alt='Travis Status' /></a></dd>
  <dt>releases</dt>
  <dd><a href="https://travis-ci.org/kentnl/{{item}}"><img ng-src="https://api.travis-ci.org/kentnl/{{item}}.svg?branch=releases" alt='Travis Status' /></a></dd>
</dl>

